.env
.env.* 
/data/
**/__pycache__/
**/*.pyc
*.log
/.venv/
/venv/
node_modules/
.DS_Store
# Docker
*.local.yml
# Build
build/
dist/
.eggs/
*.egg-info/
# proofs
code/data/proofs/
wheelhouse/
*.whl
x-app-secret*
*.bak
__pycache__/
*.py[cod]
.env
