fastapi==0.110.0
uvicorn==0.29.0
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
alembic==1.13.1
python-dotenv==1.0.1
pydantic==2.5.3
sqladmin==0.16.0
redis==5.0.4
aiogram==3.4.1
PyJWT==2.8.0
itsdangerous==2.2.0
psycopg==3.2.9
psycopg-binary==3.2.9
aiohttp==3.9.5
